<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">商品添加</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal">
    <div class="box-body">
      <div class="form-group" id="thumbnailUrl-group">
        <label for="thumbnailUrl" class="col-sm-2 control-label">缩略图</label>
        <div class="col-sm-10 morefile">
            <div class="flexBox" id="add-clone-Image">
              <img src="{{pos.thumbnailUrl}}">
              <p class="aaron"><%- pos.cloneName%></p>
              <i class="deleteImg deteleClone"></i>
          </div>
          <div class="addMore" id="add-clone">
            <input type="file" class="form-control" id="thumbnailUrl" name="thumbnailUrl">
            <span class="help-block"></span>
          </div>
        </div>
      </div>
      <div class="form-group" style="goods: relative;">
          <p id="cloneUpload" style="width: 80px; goods: absolute;left: 50%;top:0;margin-left: -40px;background: #ccc;text-align: center;color:#fff">点击上传</p>
        </div>
      </div>
      <div class="form-group">
        <label for="type" class="col-sm-2 control-label">商品类型</label>
        <div class="col-sm-10 type">
            <label class="type-label"><input name="type" type="radio" data-id = '0' value="童装" />童装 </label> 
            <label class="type-label"><input name="type" type="radio" data-id = '1' value="母婴" />母婴 </label> 
            <label class="type-label"><input name="type" type="radio" data-id = '2' value="居家" />居家 </label> 
            <label class="type-label"><input name="type" type="radio" data-id = '3' value="美食" />美食 </label> 
            <label class="type-label"><input name="type" type="radio" data-id = '4' value="女装" />女装 </label> 
            <label class="type-label"><input name="type" type="radio" data-id = '5' value="鞋包" />鞋包 </label> 
            <label class="type-label"><input name="type" type="radio" data-id = '6' value="美妆" />美妆 </label> 
            <label class="type-label"><input name="type" type="radio" data-id = '7' value="进口" />进口 </label> 
        </div>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">商品名称</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" id="name" placeholder="请输入商品名称" value="<%- pos.name %>">
          <span class="help-block"></span>
        </div>
      </div>
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">商品价格</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" name="price" id="price" placeholder="请输入商品价格" value="<%- pos.price %>">
          <span class="help-block"></span>
        </div>
      </div>
      <div class="form-group">
        <label for="linePrice" class="col-sm-2 control-label">商品的划线价格</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="linePrice" id="linePrice" placeholder="请输入划线价格" value="<%- pos.linePrice %>">
          <span class="help-block"></span>
        </div>
      </div>
      <div class="form-group">
        <label for="zhekou" class="col-sm-2 control-label">请输入折扣</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="zhekou" id="zhekou" placeholder="请输入折扣" value="<%- pos.zhekou %>">
          <span class="help-block"></span>
        </div>
      </div>
      <div class="form-group">
        <label for="channel" class="col-sm-2 control-label">商品的渠道</label>
        <div class="col-sm-10 channel">
            <label class="type-label"><input name="channel" type="radio" data-id = '0' value="全部"/>全部 </label> 
            <label class="type-label"><input name="channel" type="radio" data-id = '1' value="9.9" />9.9 </label> 
            <label class="type-label"><input name="channel" type="radio" data-id = '2' value="品牌清仓" />品牌清仓 </label> 
            <label class="type-label"><input name="channel" type="radio" data-id = '3' value="新品特惠" />新品特惠 </label> 
            <label class="type-label"><input name="channel" type="radio" data-id = '4' value="今日特卖" />今日特卖 </label> 
        </div>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <label for="sale_time" class="col-sm-2 control-label">可售时间</label>
        <div class="input-group" style="width: 610px; padding: 0 15px 0 15px">
          <div class="input-group-addon">
            <i class="fa fa-clock-o"></i>
          </div>
          <input type="text" class="form-control pull-right" id="reservationtime">
        </div>
      </div>
      <!-- ---------------------------商品详情信息--------------------------------------------------------------- -->
      <div class="form-group">
        <label for="goodsInfo" class="col-sm-2 control-label">商品的样式</label>

        <div class="col-sm-10" id="add-el-input">
            <p style="display: flex">
              <input style="flex: 0.5" type="button" class="form-control" name="add" id="add-input" value="添加">
              <input style="flex: 0.5" type="button" class="form-control" name="add" id="rm-input" value="删除">
            </p>
            {{if pos.goodsInfo.length > 0}}
            {{each pos.goodsInfo v i}}
            <p style="display: flex">
              <input style="flex: 2" type="text" class="form-control goodsInfo" name="goodsInfo" value="<%- pos.goodsInfo[i].name %>" placeholder="例如: 颜色">
              <input style="flex: 8" type="text" class="form-control goodsInfoGui" name="goodsInfoGui" value="<%- pos.goodsInfo[i].info%>" placeholder="例如: 红色,绿色">
            </p>
            {{/each}}
            {{/if}}
        </div>
      </div>
      <div class="form-group">
        <label for="detail" class="col-sm-2 control-label">商品详情</label>

        <div class="col-sm-10">
          <textarea rows="4" cols="80" name="detail" id="detail" value="<%- pos.detail %>">请填写详情信息</textarea>
          <span class="help-block"></span>
        </div>
      </div>
      <div class="form-group" id="form-imgUrl">
        <label for="imgUrl" class="col-sm-2 control-label">商品详情图片</label>
        <div class="col-sm-10 morefile">
          {{if pos.imgUrl.length > 0}}
          {{each pos.imgUrl v i}}
          <div class="flexBox" data-id="0">
            <img src="{{pos.imgUrl[i]}}">
            <p class="aaron"><%- pos.moreName[i]%></p>
            <i class="deleteImg deteleMore"></i>
          </div>
          {{/each}}
          {{/if}}
          <div class="addMore" id="add-more">
            <input type="file" class="form-control" name="imgUrl" multiple id="imgUrl">
            <span class="help-block"></span>
          </div>
        </div>
      </div>
      <div class="form-group"  style="goods: relative;">
        <p id="moreUpload" style="width: 80px; goods: absolute;left: 50%;top:0;margin-left: -40px;background: #ccc;text-align: center;color:#fff">点击上传</p>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="button" id="posback" class="btn btn-default">返回</button>
      <button type="button" id="possubmit" class="btn btn-info pull-right">提交</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>

